<html>

<head>
 <title>
Plylists </title>
</head>

<body>
<h1>Click on the playlist ID to get Info</h1>
<div>
 <%for(id of playlistsArray){%>
  <a href="../playlist/<%=id%>"><%=id%></a><br>
  <%}%>
</div>
</body>

</html>